[submodule "third_party/Catch"]
	path = third_party/Catch
	url = https://github.com/philsquared/Catch.git
[submodule "third_party/mlpack"]
	path = third_party/mlpack
	url = https://github.com/mlpack/mlpack.git
[submodule "AAM"]
	path = AAM
	url = git@github.com:phg1024/AAM.git
[submodule "ImageDedup"]
	path = ImageDedup
	url = git@github.com:phg1024/ImageDedup.git
[submodule "third_party/json"]
	path = third_party/json
	url = https://github.com/nlohmann/json.git
